In [2]:
import os
import pandas as pd
import numpy as np
import pathlib

In [3]:
raw_path = "../data/raw"
processed_path = "../data/processed"
os.makedirs(raw_path,exist_ok=True)
os.makedirs(processed_path,exist_ok=True)

Creating Dataframe and introducing some random nan in it

In [4]:
np.random.seed(42)  
n = 400 

data = {
    "id": range(1, n+1),
    "age": np.random.randint(18, 65, n).astype(float),  # ages between 18–64
    "salary": np.random.randint(30000, 120000, n).astype(float),  # salary range
    "department": np.random.choice(["HR", "IT", "Finance", "Marketing", "Sales"], n),
    "rating": np.round(np.random.uniform(1, 5, n), 2),  # 1–5 scale
    "city": np.random.choice(["New York", "SF", "Austin", "Chicago", "LA", "New Jersey", "Illinois"], n),
    "bonus_pct": np.round(np.random.uniform(0.05, 0.3, n), 2),  # 5–30% bonus
}

df = pd.DataFrame(data)


for col in ["age", "salary", "rating", "bonus_pct"]:
    df.loc[df.sample(frac=0.2).index, col] = np.nan  # ~20% NaNs

In [5]:
csv_path = os.path.join(raw_path,'sample.csv')
df.to_csv(csv_path,index=False)

In [6]:
import pandas as pd
from src import cleaning

In [7]:
df = pd.read_csv('../data/raw/sample.csv')
df.head()

   id   age   salary department  rating      city  bonus_pct
0   1  56.0  82921.0         IT    3.67        SF       0.27
1   2  46.0  79726.0         IT    1.82  Illinois       0.11
2   3  32.0  80300.0         IT    2.17        SF       0.28
3   4  60.0  52677.0    Finance    4.59        SF       0.07
4   5  25.0      NaN    Finance     NaN  Illinois       0.28

Cleaning using function defined in cleaning.py

In [8]:
df = cleaning.fill_missing_median(df, ['age','salary'])
df = cleaning.drop_missing(df, threshold=0.5)
df = cleaning.normalize_data(df, ['age','salary','rating','bonus_pct'])

In [9]:
df.to_csv('../data/processed/sample_data_cleaned.csv', index=False)